.cardDiv{
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: #f2f2ff;
    -webkit-box-shadow: 21px 21px 42px #94949c, -21px -21px 42px #ffffff;
    box-shadow: 21px 21px 42px #94949c, -21px -21px 42px #ffffff; 
    display: flex;
    margin: space-between;
    flex-direction: column;
    align-items: center;
    justify-content: center;      
}

.cardDiv img{
    width: 100%;
    height: 270px;

}

.card-title{
    padding-top: 20px;
    font-weight: bold;
}
.card-text{
    height: 220px;   
    opacity: 0.9;
}

.cardsLink, .cardsLink:hover{
    color: inherit;
    text-decoration: inherit;
}